.castList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.castItem {
  text-align: center;
}

.castImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
